# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\7200\ALS_ScalaTion_Copy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
